@import 'variables.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (min-width: 1025px) {
    main {
        margin: 1rem 8rem;
    }
}

body {
    font-family: var(--fontMain);

    > header,
    > footer {
        font-family: var(--fontTitle);
        background-color: var(--colorBgHeader);
        color: var(--colorHeader);
        padding: 0.5rem 1rem;
    }

    > footer {
        position: relative;
        bottom: 0;
        width: 100%;

        @media only screen and (min-width: 480px) {
            position: fixed;
        }
    }

    main {
        padding: 0.5rem 1rem;
        padding-bottom: 3rem;
    }

    nav {
        background-color: var(--colorBgNav);
        color: var(--colorBgHeader);

        > ul {
            padding: 0 1rem;
            list-style: none;
            color: var(--colorBgHeader);

            > li {
                border-bottom: 1px solid var(--colorHeader);
                text-align: center;

                &:last-child {
                    border-bottom: none;
                }

                > a {
                    display: block;
                    padding: 0.5rem;
                    text-decoration: none;
                }

                > a.highlight {
                    color: var(--colorSelected);
                    font-weight: bold;
                }
            }
        }
    }

    img {
        width: 100%;
        border-radius: 1rem;
    }
}

@media (min-width: 768px) {
    body > nav >ul {
        overflow: hidden;

        > li {
            float: left;
            border-bottom: none;
        }

    }
}